.container {
  display: flex;
  flex-direction: column;
  padding: 130px 0 90px 0;
  gap: 90px;
  align-items: center;
  h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 54px;
    font-weight: 500;
    color: #545761;
  }
  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 5%;
    img {
      width: 420px;
      height: 460px;
      object-fit: cover;
    }
    p {
      font-family: "Montserrat", sans-serif;
      font-size: 26px;
      font-weight: 500;
      color: #545761;
      margin-top: 20px;
    }
  }
  .text {
    display: flex;
    flex-direction: column;
    gap: 5px;
    h3 {
      font-family: "Montserrat", sans-serif;
      font-size: 36px;
      font-weight: 500;
      color: #545761;
    }
    a {
      text-align: center;
      font-family: "Montserrat", sans-serif;
      font-size: 20px;
      font-weight: 500;
      color: #545761;
      text-decoration: underline;
    }
  }
}
