.footer {
  height: 325px;
  background-color: #272A33;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .socialIcons {
  width: 255px;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  padding: 30px;
  cursor: pointer;
}

.footer .infoUser {
  width: 70%;
  height: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 120px;
}

.footer .infoUser .ShopName {
  font-size: 48px;
  color: #f7f3f3;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer .infoUser .user {
  font-size: 24px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  color: white;
}
